<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>afghanistan</key>
	<string>AF</string>
	<key>andorra</key>
	<string>AD</string>
	<key>unitedarabemirates</key>
	<string>AE</string>
	<key>antiguaandbarbuda</key>
	<string>AG</string>
	<key>albania</key>
	<string>AL</string>
	<key>aruba</key>
	<string>AW</string>
	<key>armenia</key>
	<string>AM</string>
	<key>netherlandsantilles</key>
	<string>AN</string>
	<key>anguilla</key>
	<string>AI</string>
	<key>angola</key>
	<string>AO</string>
	<key>frenchantilles</key>
	<string>TF</string>
	<key>frenchguiana</key>
	<string>GF</string>
	<key>argentina</key>
	<string>AR</string>
	<key>austria</key>
	<string>AT</string>
	<key>australia</key>
	<string>AU</string>
	<key>azerbaijan</key>
	<string>AZ</string>
	<key>bosniaandherzegovina</key>
	<string>BA</string>
	<key>barbados</key>
	<string>BB</string>
	<key>bangladesh</key>
	<string>BD</string>
	<key>belgium</key>
	<string>BE</string>
	<key>burkinafaso</key>
	<string>BF</string>
	<key>bulgaria</key>
	<string>BG</string>
	<key>bahrain</key>
	<string>BH</string>
	<key>burundi</key>
	<string>BI</string>
	<key>benin</key>
	<string>BJ</string>
	<key>bermuda</key>
	<string>BM</string>
	<key>brunei</key>
	<string>BN</string>
	<key>bolivia</key>
	<string>BO</string>
	<key>brazil</key>
	<string>BR</string>
	<key>bahamasthe</key>
	<string>BS</string>
	<key>bhutan</key>
	<string>BT</string>
	<key>botswana</key>
	<string>BW</string>
	<key>belarus</key>
	<string>BY</string>
	<key>belize</key>
	<string>BZ</string>
	<key>canada</key>
	<string>CA</string>
	<key>congodrc</key>
	<string>CD</string>
	<key>cookislands</key>
	<string>CK</string>
	<key>centralafricanrepublic</key>
	<string>CF</string>
	<key>congo</key>
	<string>CG</string>
	<key>switzerland</key>
	<string>CH</string>
	<key>Côte d’Ivoire</key>
	<string>CI</string>
	<key>chile</key>
	<string>CL</string>
	<key>cameroon</key>
	<string>CM</string>
	<key>china</key>
	<string>CN</string>
	<key>colombia</key>
	<string>CO</string>
	<key>cocoskeelingislands</key>
	<string>CC</string>
	<key>costarica</key>
	<string>CR</string>
	<key>cuba</key>
	<string>CU</string>
	<key>capeverde</key>
	<string>CV</string>
	<key>cyprus</key>
	<string>CY</string>
	<key>czechrepublic</key>
	<string>CZ</string>
	<key>germany</key>
	<string>DE</string>
	<key>djibouti</key>
	<string>DJ</string>
	<key>denmark</key>
	<string>DK</string>
	<key>dominica</key>
	<string>DM</string>
	<key>dominicanrepublic</key>
	<string>DO</string>
	<key>algeria</key>
	<string>DZ</string>
	<key>ecuador</key>
	<string>EC</string>
	<key>estonia</key>
	<string>EE</string>
	<key>egypt</key>
	<string>EG</string>
	<key>eritrea</key>
	<string>ER</string>
	<key>spain</key>
	<string>ES</string>
	<key>ethiopia</key>
	<string>ET</string>
	<key>finland</key>
	<string>FI</string>
	<key>fijiislands</key>
	<string>FJ</string>
	<key>falklandislandsislasmalvinas</key>
	<string>FK</string>
	<key>micronesia</key>
	<string>FM</string>
	<key>faroeislands</key>
	<string>FO</string>
	<key>france</key>
	<string>FR</string>
	<key>gabon</key>
	<string>GA</string>
	<key>unitedkingdom</key>
	<string>GB</string>
	<key>grenada</key>
	<string>GD</string>
	<key>georgia</key>
	<string>GE</string>
	<key>ghana</key>
	<string>GH</string>
	<key>gibraltar</key>
	<string>GI</string>
	<key>greenland</key>
	<string>GL</string>
	<key>gambiathe</key>
	<string>GM</string>
	<key>guinea</key>
	<string>GN</string>
	<key>guadeloupe</key>
	<string>GP</string>
	<key>equatorialguinea</key>
	<string>GQ</string>
	<key>greece</key>
	<string>GR</string>
	<key>South Georgia and South Sandwich Islands</key>
	<string>GS</string>
	<key>guatemala</key>
	<string>GT</string>
	<key>guam</key>
	<string>GU</string>
	<key>guineabissau</key>
	<string>GW</string>
	<key>guyana</key>
	<string>GY</string>
	<key>hongkongsar</key>
	<string>HK</string>
	<key>honduras</key>
	<string>HN</string>
	<key>croatia</key>
	<string>HR</string>
	<key>haiti</key>
	<string>HT</string>
	<key>hungary</key>
	<string>HU</string>
	<key>indonesia</key>
	<string>ID</string>
	<key>ireland</key>
	<string>IE</string>
	<key>israel</key>
	<string>IL</string>
	<key>isleofman</key>
	<string>IM</string>
	<key>india</key>
	<string>IN</string>
	<key>iraq</key>
	<string>IQ</string>
	<key>iran</key>
	<string>IR</string>
	<key>iceland</key>
	<string>IS</string>
	<key>italy</key>
	<string>IT</string>
	<key>jamaica</key>
	<string>JM</string>
	<key>jordan</key>
	<string>JO</string>
	<key>japan</key>
	<string>JP</string>
	<key>kenya</key>
	<string>KE</string>
	<key>kyrgyzstan</key>
	<string>KG</string>
	<key>cambodia</key>
	<string>KH</string>
	<key>kiribati</key>
	<string>KI</string>
	<key>stkittsandnevis</key>
	<string>KN</string>
	<key>comoros</key>
	<string>KM</string>
	<key>northkorea</key>
	<string>KP</string>
	<key>korea</key>
	<string>KR</string>
	<key>kuwait</key>
	<string>KW</string>
	<key>caymanislands</key>
	<string>KY</string>
	<key>kazakhstan</key>
	<string>KZ</string>
	<key>laos</key>
	<string>LA</string>
	<key>lebanon</key>
	<string>LB</string>
	<key>stlucia</key>
	<string>LC</string>
	<key>liechtenstein</key>
	<string>LI</string>
	<key>srilanka</key>
	<string>LK</string>
	<key>liberia</key>
	<string>LR</string>
	<key>lesotho</key>
	<string>LS</string>
	<key>lithuania</key>
	<string>LT</string>
	<key>luxembourg</key>
	<string>LU</string>
	<key>latvia</key>
	<string>LV</string>
	<key>libya</key>
	<string>LY</string>
	<key>morocco</key>
	<string>MA</string>
	<key>monaco</key>
	<string>MC</string>
	<key>moldova</key>
	<string>MD</string>
	<key>montenegro</key>
	<string>ME</string>
	<key>madagascar</key>
	<string>MG</string>
	<key>marshallislands</key>
	<string>MH</string>
	<key>macedonia</key>
	<string>MK</string>
	<key>mali</key>
	<string>ML</string>
	<key>myanmar</key>
	<string>MM</string>
	<key>mongolia</key>
	<string>MN</string>
	<key>macao</key>
	<string>MO</string>
	<key>martinique</key>
	<string>MQ</string>
	<key>mauritania</key>
	<string>MR</string>
	<key>montserrat</key>
	<string>MS</string>
	<key>malta</key>
	<string>MT</string>
	<key>mauritius</key>
	<string>MU</string>
	<key>maldives</key>
	<string>MV</string>
	<key>malawi</key>
	<string>MW</string>
	<key>mexico</key>
	<string>MX</string>
	<key>malaysia</key>
	<string>MY</string>
	<key>mozambique</key>
	<string>MZ</string>
	<key>namibia</key>
	<string>NA</string>
	<key>newcaledonia</key>
	<string>NC</string>
	<key>niger</key>
	<string>NE</string>
	<key>norfolkisland</key>
	<string>NF</string>
	<key>nigeria</key>
	<string>NG</string>
	<key>nicaragua</key>
	<string>NI</string>
	<key>netherlandsthe</key>
	<string>NL</string>
	<key>norway</key>
	<string>NO</string>
	<key>nepal</key>
	<string>NP</string>
	<key>nauru</key>
	<string>NR</string>
	<key>niue</key>
	<string>NU</string>
	<key>newzealand</key>
	<string>NZ</string>
	<key>oman</key>
	<string>OM</string>
	<key>panama</key>
	<string>PA</string>
	<key>peru</key>
	<string>PE</string>
	<key>frenchpolynesia</key>
	<string>PF</string>
	<key>papuanewguinea</key>
	<string>PG</string>
	<key>philippines</key>
	<string>PH</string>
	<key>pakistan</key>
	<string>PK</string>
	<key>poland</key>
	<string>PL</string>
	<key>stpierreandmiquelon</key>
	<string>PM</string>
	<key>puertorico</key>
	<string>PR</string>
	<key>portugal</key>
	<string>PT</string>
	<key>paraguay</key>
	<string>PY</string>
	<key>palau</key>
	<string>PW</string>
	<key>qatar</key>
	<string>QA</string>
	<key>reunion</key>
	<string>RE</string>
	<key>romania</key>
	<string>RO</string>
	<key>serbia</key>
	<string>RS</string>
	<key>russia</key>
	<string>RU</string>
	<key>rwanda</key>
	<string>RW</string>
	<key>saudiarabia</key>
	<string>SA</string>
	<key>solomonislands</key>
	<string>SB</string>
	<key>seychelles</key>
	<string>SC</string>
	<key>sudan</key>
	<string>SD</string>
	<key>sweden</key>
	<string>SE</string>
	<key>singapore</key>
	<string>SG</string>
	<key>sthelena</key>
	<string>SH</string>
	<key>slovenia</key>
	<string>SI</string>
	<key>slovakia</key>
	<string>SK</string>
	<key>sierraleone</key>
	<string>SL</string>
	<key>sanmarino</key>
	<string>SM</string>
	<key>senegal</key>
	<string>SN</string>
	<key>somalia</key>
	<string>SO</string>
	<key>suriname</key>
	<string>SR</string>
	<key>Sao Tome and Principe</key>
	<string>ST</string>
	<key>elsalvador</key>
	<string>SV</string>
	<key>syria</key>
	<string>SY</string>
	<key>swaziland</key>
	<string>SZ</string>
	<key>turksandcaicosislands</key>
	<string>TC</string>
	<key>chad</key>
	<string>TD</string>
	<key>togo</key>
	<string>TG</string>
	<key>thailand</key>
	<string>TH</string>
	<key>tajikistan</key>
	<string>TJ</string>
	<key>tokelau</key>
	<string>TK</string>
	<key>timorleste</key>
	<string>TL</string>
	<key>turkmenistan</key>
	<string>TM</string>
	<key>tunisia</key>
	<string>TN</string>
	<key>tonga</key>
	<string>TO</string>
	<key>turkey</key>
	<string>TR</string>
	<key>trinidadandtobago</key>
	<string>TT</string>
	<key>tuvalu</key>
	<string>TV</string>
	<key>taiwan</key>
	<string>TW</string>
	<key>tanzania</key>
	<string>TZ</string>
	<key>ukraine</key>
	<string>UA</string>
	<key>uganda</key>
	<string>UG</string>
	<key>unitedstates</key>
	<string>US</string>
	<key>uruguay</key>
	<string>UY</string>
	<key>uzbekistan</key>
	<string>UZ</string>
	<key>vaticancity</key>
	<string>VA</string>
	<key>stvincentandthegrenadines</key>
	<string>VC</string>
	<key>venezuela</key>
	<string>VE</string>
	<key>virginislandsbritish</key>
	<string>VG</string>
	<key>virginislands</key>
	<string>VI</string>
	<key>vietnam</key>
	<string>VN</string>
	<key>vanuatu</key>
	<string>VU</string>
	<key>americansamoa</key>
	<string>AS</string>
	<key>wallisandfutuna</key>
	<string>WF</string>
	<key>samoa</key>
	<string>WS</string>
	<key>yemen</key>
	<string>YE</string>
	<key>serbiaandmontenegro</key>
	<string>YU</string>
	<key>mayotte</key>
	<string>YT</string>
	<key>southafrica</key>
	<string>ZA</string>
	<key>zambia</key>
	<string>ZM</string>
	<key>zimbabwe</key>
	<string>ZW</string>
	<key>europe</key>
	<string>europe</string>
	<key>middleeast</key>
	<string>middleeast</string>
	<key>northwestafrica</key>
	<string>northwestafrica</string>
	<key>southernafrica</key>
	<string>southernafrica</string>
	<key>asiapacific</key>
	<string>asiapacific</string>
	<key>latinamerica</key>
	<string>latinamerica</string>
	<key>caribbean</key>
	<string>caribbean</string>
</dict>
</plist>
