<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportedLocales</key>
	<dict>
		<key>en</key>
		<array>
			<string>us</string>
			<string>uk</string>
			<string>za</string>
			<string>id</string>
			<string>au</string>
			<string>in</string>
			<string>my</string>
			<string>nz</string>
			<string>ph</string>
			<string>sg</string>
			<string>th</string>
			<string>vn</string>
			<string>hk</string>
			<string>ca</string>
			<string>bg</string>
			<string>hr</string>
			<string>ee</string>
			<string>lv</string>
			<string>lt</string>
			<string>ro</string>
			<string>me</string>
			<string>rs</string>
			<string>sk</string>
			<string>si</string>
			<string>lamerica_nsc_carib</string>
			<string>emea_middle_east</string>
			<string>emea_africa</string>
		</array>
		<key>fr</key>
		<array>
			<string>fr</string>
			<string>be</string>
			<string>ch</string>
			<string>ca</string>
		</array>
		<key>de</key>
		<array>
			<string>de</string>
			<string>at</string>
			<string>ch</string>
		</array>
		<key>es</key>
		<array>
			<string>es</string>
			<string>ar</string>
			<string>bo</string>
			<string>cl</string>
			<string>co</string>
			<string>ec</string>
			<string>es</string>
			<string>mx</string>
			<string>py</string>
			<string>pe</string>
			<string>pr</string>
			<string>uy</string>
			<string>ve</string>
			<string>lamerica_nsc_cnt_amer</string>
		</array>
		<key>nl</key>
		<array>
			<string>nl</string>
			<string>be</string>
		</array>
		<key>da</key>
		<array>
			<string>dk</string>
		</array>
		<key>pl</key>
		<array>
			<string>pl</string>
		</array>
		<key>it</key>
		<array>
			<string>it</string>
		</array>
		<key>sv</key>
		<array>
			<string>se</string>
		</array>
		<key>pt</key>
		<array>
			<string>br</string>
			<string>pt</string>
		</array>
		<key>el</key>
		<array>
			<string>gr</string>
		</array>
		<key>ja</key>
		<array>
			<string>jp</string>
		</array>
		<key>ko</key>
		<array>
			<string>kr</string>
		</array>
		<key>zh-hant</key>
		<array>
			<string>tw</string>
			<string>hk</string>
		</array>
		<key>zh</key>
		<array>
			<string>tw</string>
			<string>hk</string>
		</array>
		<key>zh-hans</key>
		<array>
			<string>cn</string>
		</array>
		<key>ru</key>
		<array>
			<string>ru</string>
			<string>ua</string>
			<string>by</string>
			<string>kz</string>
		</array>
		<key>tr</key>
		<array>
			<string>tr</string>
		</array>
		<key>he</key>
		<array>
			<string>il</string>
		</array>
		<key>no</key>
		<array>
			<string>no</string>
		</array>
		<key>fi</key>
		<array>
			<string>fi</string>
		</array>
		<key>cs</key>
		<array>
			<string>cz</string>
		</array>
		<key>hu</key>
		<array>
			<string>hu</string>
		</array>
		<key>ar</key>
		<array>
			<string>emea_middle_east</string>
		</array>
		<key>th</key>
		<array>
			<string>th</string>
		</array>
		<key>ro</key>
		<array>
			<string>ro</string>
		</array>
		<key>sk</key>
		<array>
			<string>sk</string>
		</array>
	</dict>
	<key>LanguagesAdustment</key>
	<dict>
		<key>zh_cn</key>
		<string>zh-hans</string>
		<key>zh_tw</key>
		<string>zh</string>
		<key>pt-pt</key>
		<string>pt</string>
		<key>nb</key>
		<string>no</string>
	</dict>
</dict>
</plist>
